/*
 * design token based on Figma's design
 * format: --<scope>-modifier
 *
 */

:root {
  --color-primary: #ff7b7b;
  --color-secondary: #00072e;
  --color-gray: #fdfdfd;
  --color-white: #ffffff;
  --color-black: #333333;

  --font-sans-serif: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Noto Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'IBM Plex Serif', serif;
  --font-monospace: 'Operator Mono', 'IBM Plex Mono', monospace;

  --transition-common: 0.2s all;

  /*
   * although its not possible to use it in @media directives
   * we keep this here as a reference
   *
  */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--color-primary);
  position: fixed;
  z-index: 666;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  font-family: var(--font-sans-serif);
  font-size: 16px;
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

img {
  max-width: 100%;
}

.o-container {
  max-width: var(--breakpoint-xl);
  width: 100%;
  margin: auto;
}

.cf:before,
.cf:after {
  clear: both;
  content: '';
  display: table;
}

.u-underline {
  text-decoration: underline;
}
